<div class="jumbotron">
    {% load static %}
    {% block content %}
    <p class="lead">GMJNOW is a computer technology company specializing in engineering quality top-to-bottom full stack software architecture (design, development, deployments, and maintenance); automating, manufacturing, and supporting cloud-based IT infrastructure; and artificial intelligence driven solutions. Our ambitions drive us to provide services from the deepest parts of the ocean to the tips of the tallest mountains and pierce through the clouds to reach the furthest of stars.</p>
    <h2>History - From the Founder</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-8">
          <p> This company started as a Django based blog for me to document my various
          technological endeavors.</p>
          <p> Since I was a kid, I was always interested in computers. my first virus and
          my father taught me how to reload an OS. Eventually, I started developing for a FIRST Robotics
          team in high school with a PHP back end and HTML/CSS front end. I built my first computer shortly
          after that. It was a simple start and I've continually added onto my skills with time. A lot of opportunities
          have come my way but throughout college I ended up developing more and did some basic IT support for three years.
          I graduated college as a Biomedical Engineer and followed up shortly after as a junior production engineer learning
          the software development life cycle and operations in a professional setting.</p>
          <p> I wanted to utilize everything I was learning and to learn more! I established a homelab where I could maintain my own
              code and infrastructure. I had the servers to run, but I didn't have any exciting code to present to the world. I played around with the infrastructure, but eventually,
              this needed to make it into production. It took a month while I worked and before I knew it, I had pierced the heavens and was <a href="./../posts/4"> live  </a> in the Cloud.
          </p>
        </div>
        <div class="col-6 col-lg-4">
          <img class="img-fluid height=auto width=200px bg-info" style="border-radius:10%" src= "{% static 'img/GMJNOW.jpg' %}">
        </div>
      </div>
    </div>
    <p>Learn more by <a href="./../contact/">contacting us</a>.</p>
        {%  endblock %}
</div>