{% extends "websiteBackbone/header.html" %}

{% block content %}
    <main role="main" class="jumbotron">
      <p>Feel free to contact us through the below form or any of the linked platforms for quotes, hiring inquiries, or general questions.</p>
      <a href="https://www.linkedin.com/in/georgemjohnson/"> LinkedIn</a> |
      <a href="mailto:resources@gmjnow.com"> Email Us</a> |
      <a href="https://github.com/georgemjohnson11"> Github</a>
    <form action="/contact/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <kbd><label for="id_contactName">Name: </label></kbd>
            <input id="id_contactName" type="text" class="form-control" name="contactName" value="{{ current_name }}">
        </div>
         <div class="form-group">
             <kbd><label for="id_contactSenderEmail">Email: </label></kbd>
             <input id="id_contactSenderEmail" type="text" class="form-control" name="contactSenderEmail" value="{{ current_email }}">
         </div>
         <div class="form-group">
             <kbd> <label for="id_contactSubject">Subject: </label></kbd>
             <input id="id_contactSubject" type="text" class="form-control" name="contactSubject" value="{{ current_subject }}">
         </div>
        <div class="form-group">
            <kbd> <label for="id_contactMessage">Message: </label></kbd>
            <textarea class= form-control id="id_contactMessage" type="text" maxlength="=400" class="form-control" name="contactMessage" value="{{ current_message }}"></textarea>
        </div>
        <input type="submit" value="Submit" class="btn btn-default" Send>
    </form>
        </main>


{%  endblock %}