{% extends "websiteBackbone/header.html" %}
{% block content %}
    <main role="main" class="container">
        <div class="row jumbotron">
            <div class="col-md-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title">{{ post.title }}</h2>
                    <p class="blog-post-meta"> On {{ post.created_on }} by <a href="mailto:resources@gmjnow.com">resources@gmjnow.com </a>
                    </p>
                    <hr>
                    <p>{{ post.bodytext|safe|linebreaks }}</p>
                </div>
{#                <h2>Comments</h2>#}
{#                {% for comment in post.comments %}#}
{#                    <h3>{{ comment.author.name }}#}
{#                        <small>on {{ comment.created_on }}</small>#}
{#                    </h3>#}
{#                    {{ comment.text }}#}
{#                {% endfor %}#}
            </div>
        </div>
    </main>

{% endblock %}