{% extends "websiteBackbone/header.html" %}
{% block content %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">{{ post.title }}</h2>
            <p class="blog-post-meta"> On {{ post.date }} by ><a href="mailto:resources@gmjnow.com">george@gmjnow.com </a></p>
            <hr>
              <p>{{ post.bodytext|safe|linebreaks }}</p>
          </div>
        </div>d
      </div>
    </main>

{%  endblock %}